# Introducci√≥n
Explorar el formato de los datos del metro

# Config

In [6]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd
from datetime import datetime
from google.transit import gtfs_realtime_pb2
import time



METRO_URL = "https://ctb-gtfs-rt.s3.eu-south-2.amazonaws.com/metro-bilbao-vehicle-positions.pb"

# Load data

In [10]:
feed = gtfs_realtime_pb2.FeedMessage()
resp_metro = requests.get(METRO_URL)
feed.ParseFromString(resp_metro.content)
time_metro = datetime.fromtimestamp(feed.header.timestamp)

metro_rows = []
for ent in feed.entity:
    if ent.HasField("vehicle"):
        vp = ent.vehicle
        pos = vp.position
        if pos.latitude is None or pos.longitude is None:
            continue
        metro_rows.append({
            "vehicle_id": vp.vehicle.id if vp.vehicle.id else None,
            "lat": pos.latitude,
            "lon": pos.longitude,
            "timestamp": datetime.utcfromtimestamp(vp.timestamp) if vp.timestamp else None,
            "mode": "metro"
        })

df_metro = pd.DataFrame(metro_rows)

In [11]:
time_metro

datetime.datetime(2025, 11, 30, 22, 26, 59)

# Data management (Code)

In [3]:
df_metro

  vehicle_id        lat      lon timestamp   mode
0       None  43.363201 -3.00699      None  metro
1       None  43.379002 -2.95811      None  metro
2       None  43.262520 -2.94751      None  metro
3       None  43.247002 -2.90573      None  metro
4       None  43.328949 -3.03421      None  metro
5       None  43.251160 -2.91082      None  metro
6       None  43.327301 -2.99874      None  metro
7       None  43.259682 -2.92071      None  metro
8       None  43.262520 -2.94751      None  metro
9       None  43.321331 -3.00102      None  metro

# Plots

In [3]:
# Plots and visualizations

# Save results

In [5]:
#Save results and figures